PRIVATE_KEY=
ATTESTIA_ADMIN=
ERC8004_IDENTITY_REGISTRY=0x8004A818BFB912233c491871b3d84c89A494BD9e
ATTESTIA_NEGATIVE_CLAIMS=false
ATTESTIA_MAINNET_APPROVED=false
MONAD_TESTNET_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC_URL=https://rpc.monad.xyz
